<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.duoyu.sparkle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SparkleApplication">

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/BaseAppTheme.HomeActivity"/>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/BaseAppTheme.LoginActivity"/>

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/BaseAppTheme.RegisterActivity"/>

        <activity
            android:name=".activity.DiaryActivity"
            android:theme="@style/Theme.AppCompat.Dialog.DiaryActivity"/>

        <activity
            android:name=".activity.CommentsActivity"
            android:theme="@style/BaseAppTheme.CommentsActivity"/>

        <activity
            android:name=".activity.CorrectsActivity"
            android:theme="@style/BaseAppTheme.CorrectsActivity"/>

        <activity
            android:name=".activity.EditCorrectActivity"
            android:theme="@style/BaseAppTheme.EditCorrectActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/BaseAppTheme.UserActivity"/>

        <activity android:name=".activity.EditActivity"/>

        <activity android:name=".activity.CorrectActivity"/>

    </application>

</manifest>
